.container{
    height: 200px;
    width: 420px;
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px 10px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
h2{
    position: relative;
    top: -10px;
}
.name {
    position: relative;
top: -30px;
}
.sub li{
    position: relative;
    top: -65px;
    left: 28px;

}
.burner-btn{
    height: 18px;
    width: 110px;
    background-color: #fff;
    border: 1px solid rgb(194, 189, 189);
    font-weight: 600;
    position: relative;
    top: -70px;
}
.left hr{
    position: relative;
    top: -55px;
    border: 5px solid green;
    border-radius: 5px;
}
.balance-1{
    position: relative;
    top: -55px;
    left: -20px;
}
.balance-1 li {
    margin-top: 10px;
    list-style-type: none;
    
}
.li1::before{
  content: "\2022";
  color: red;
  font-weight: 900;
  font-size: larger;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.li2::before{
    content: "\2022";
    color: green;
    font-weight: 900;
    font-size: larger;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
.right p {
    position: relative;
    top: -210px;
    left: 295px;
}
.SGD{
    margin-top: 20px;
    margin-left: 50px;
}
